header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }

html, body { margin: 0; padding: 0; } /* Makes the border element flush with page edge */ 

body {
    color: #666666;
    font-family: "Minion Pro", "Times New Roman", serif;
    border: 20px solid #BFE5E9;
}

        #wrapper {
            /* margin-left: none;
            margin-right: none; */
            width: 100%;
            min-width: 960px;
            max-width: 2048px;
            background-color: #FFF;
        }

    header {
        background-color: #000000;
        padding: 10px;
        height: 50px;
        
        color: #FFF;
        text-align: center;
        font-kerning: auto;
    }

    nav {
        font-family: "Futura", "Helvetica", sans-serif;
        font-weight: lighter;
        font-variant-caps: all-small-caps;
        padding: 20px;
        float: left;
        width: 160px;
    }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            font-size: 1.2em;
        }

        nav a {
            text-decoration: none; 
        }

            nav a:link {
                color: #000000; 
            }

            nav a:visited {
                color: #431211;    
            }
            
            nav a:hover {
                color: #BFE5E9;
            }

    main {
        padding: 1px 20px 30px;
        display: block; 
        background-color: #FFF;
        margin-left: 190px;
    }

        /* Style inputs with type="text", select elements and textareas */
        input[type=text], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */  
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: #431211;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        input[type=submit]:hover {
        background-color: #BFE5E9;
}

        /* Add a background color and some padding around the form */
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        h1 {
            margin-bottom: 0;
            margin-top: 0;
            font-family: "Futura", "Helvetica", sans-serif;
            font-variant-caps: all-small-caps;
            font-style: normal;
            font-weight: 100;
        }

        h2 {
            color: #3399CC; 
            font-family: "Georgia", "Times New Roman", serif;
            text-shadow: 1px 1px #CCCCCC;
        }

        main ul {
            list-style-image: url(marker.gif);    
        }

        h3 {
            font-family: "Georgia", "Times New Roman", serif;
            color: black;
        }

        dt {
            color: #000033;    
        }

        .resort {
            color: #5C7FA3;
            font-weight: bold;
        }

        #contact {
            font-size: 90%;    
        }

        #homehero {
            height: 300px;
            background-image: url(coasthero.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: 190px;
        }

        #vulture {
            height: 432px;
            background-image: url(vultureflying.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: 190px;
        }

        #trailhero {
            height: 300px;
            background-image: url(trailhero.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: 190px;
        }

    footer {
        font-family: "Futura", "Helvetica", sans-serif;
        font-weight: lighter;
        font-variant-caps: all-small-caps;
            
        font-size: 85%;
        text-align: center;
        margin-left: 190px;
        background-color: #FFF;
        
        padding: 20px 20px 20px;
    }



@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFF;
    }
        
        #wrapper {
            min-width: 0;
            width: auto;
            box-shadow: none;
        }
    
    main {
        margin-left: 0;
    }
    
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    
        nav li {
            display: inline;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    
        #homehero {
            margin-left: 0;
            height: 200px;
        }

        #yurthero {
            margin-left: 0;
            height: 200px;
        }

        #trailhero {
            margin-left: 0;
            height: 200px;
        }
    
    footer {
        margin-left: 0;
        font-family: "Futura", "Helvetica", sans-serif;
        font-weight: lighter;
        font-variant-caps: all-small-caps;
    }
}



@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    nav {
        padding: 0;
    }
    
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    
    nav a {
        display: block;
    }
    
        #homehero {
            background-image: none;
            height: 0;
        }
    
        #yurthero {
            background-image: none;
            height: 0;
        }
    
        #trailhero {
            background-image: none;
            height: 0;
        }
    
    #mobile { display: inline; }
    
    #desktop { display: none; }
}


table { 
    border-spacing: 0;
    width: 80%;
    border: 1px solid #3399CC; 
}

    td,th { 
        padding: 5px;
        border: 1px solid #3399CC; 
    }

    td { 
        text-align: center; 
    }

    .text { 
        text-align: left; 
    }

    tr:nth-of-type(even) { 
        background-color: #F5FAFC; 
    }